<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.lazarus4android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" >
    	</uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    	</uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    	</uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
        </uses-permission>

    <application
        android:name="android.lazarus4android.Memory"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="android.lazarus4android.IntroActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="android.lazarus4android.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="android.lazarus4android.GPSActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="android.lazarus4android.BatteryActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="android.lazarus4android.InfoActivity"
            android:label="@string/title_activity_info" >
        </activity>
    </application>

</manifest>